:root {
  --primary-color: #8f9427;
  /* rgba(143, 148, 39, 1); */
  --primary-color-dark: #545726;
  --secondary-color: #e39410;
  --text-dark: #3d3c3c;
  --text-medium: #6d6c6d;
  --text-light: #e0e1e3;
  --font-sans: neue-kabel, futura, sans-serif;
}

/* .our-work .landing {
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
}
.our-work h1 {
  font-size: 1.8rem;
  text-align: left;
  margin: 0;
  align-self: flex-end;
  padding: 0;
  background-color: #fafaf8;
  color: var(--text-dark);
  width: 70%;
}
.our-work .landing div {
  width: 30%;
}
.our-work .landing img {
  background: var(--primary-color);
  border-radius: 50%;
  padding: 0;
}


.project {
  position: relative;
  max-height: 280px;
}
.project a {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
}

.project a:hover h2 {
  color: var(--primary-color);
}

.project .project-title {
  text-align: left;
  align-self: flex-end;
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
}
.project .project-title h2 {
  color: var(--text-dark);
  font-size: 1.8rem;
  line-height: 1.2em;
  bottom: 0;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 100%;
  max-height: 216px;
}

.project .hero-img {
  align-self: end;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  object-fit: contain;
  width: 75%;
}

.project .hero-img img {
  max-width: 100%;
  object-fit: contain;
}

.project:nth-child(odd) a {
  flex-direction: row;
}

.project:nth-child(even) a {
  flex-direction: row-reverse;
}

.project:nth-child(odd) a .project-title h2 {
  padding-left: 0;
}

.project:nth-child(even) a .project-title h2 {
  padding-right: 0.15em;
  padding-left: 0;
} */

/* PAGINATION  */

.pagination {
  text-align: center;
  margin: 1em auto 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pagination .butons .button-small {
  padding: 0.4em 0.8em 0.3em;
  width: 10em;
  height: 2.5em;
  display: inline-block;
  border: 1px solid var(--text-light);
  color: var(--primary-color);
}

.pagination a {
  border: 1px solid var(--text-light);
  color: var(--primary-color);
  height: 2.5em;
  padding: 0.4em 0.8em 0.3em;
  text-decoration: none;
  border-radius: 0.2em;
}
.pagination a.active {
  background-color: var(--primary-color);
  color: white;
}

.pagination a:hover {
  border: 1px solid var(--text-light);
  background: var(--text-light);
  color: var(--text-medium);
}

.pagination a p {
  padding: 0;
}

.pagination .pagination-tag {
  display: none;
}

/*PROJECT EXAMPLE*/
.project-example {
  margin: 0 auto 0;
  padding: 0;
}
.landing-project-example {
  height: calc(100vh - 60px);
  text-align: center;
  background-image: cover;
  background: linear-gradient(
    0deg,
    rgba(39, 39, 42, 1) 0%,
    rgba(231, 232, 232, 0) 100%
  );
  margin: 0 -5% 1em;
  z-index: -10;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.landing-project-example h1 {
  color: white;
  margin: 1em auto;
  padding: 50vh 0em;
  width: 100%;
  font-size: 3rem;
}
.project-example-description {
  grid-column: 1/5;
  grid-row: 2/3;
  text-align: center;
}
#more {
  display: none;
}
.project-example-description p {
  text-align: left;
}
.project-example-description .button-small {
  display: block;
  margin: 0.2em auto 0.5em;
  padding: 0.4em 0 0 0;
  text-align: center;
}
.photos-project {
  grid-column: 1/5;
  height: auto;
  margin: 0 0%;
  display: block;
}
.photos-project .photo {
  margin: 1em auto;
}
.photos-project .photo img {
  margin: 0 auto;
  max-height: 675px;
}

/* TAGS */

.project-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags {
  font-size: 1rem;
  background-color: var(--text-light);
  border-radius: 1em;
  padding: 0.2em 1em;
  margin: 0.5em 0.5em 0 0;
  color: var(--text-medium);
}
.tags:hover {
  opacity: 0.8;
  background-color: var(--primary-color);
  background-blend-mode: screen;
  color: white;
}

.collaborators {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  padding-top: 1em;
}
.collaborator {
  margin-right: 1em;
}


/* media 500 */ /* media 500 */ /* media 500 */ /* media 500 */ /* media 500 * media 500 */
@media (min-width: 550px) {

  .landing-project-example {
    height: calc(100vh - 70px);
  }
  /* .our-work h1 {
    font-size: 3rem;
  }

  

  .project .project-title h2 {
    font-size: 2.5rem;
    line-height: 1.2em;
  }
  .landing-project-example {
    background-image: cover;
    margin: 0 -5% 1em;
  }

  .landing-project-example h1 {
    color: white;
    margin: 1em auto;
    padding: 60vh 3em;
    width: 100%;
    font-size: 3rem;
  }

  .project {
    max-height: 450px;
    overflow: hidden;
  }

  .project a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .project .project-title {
    width: 30%;
    align-self: flex-end;
  }

  .project .project-title h2 {
    height: 100%;
    max-height: 350px;
  }

  .project .hero-img {
    width: 70%;
    overflow: hidden;
    display: block;
    align-self: center;
  }
  .project .hero-img img {
    max-width: 100%;
    height: auto;

    align-self: center;
  } */

  .project-pagination .pagination .pagination-tag {
    display: inline-block;
  }
  .publications-container {
   
    grid-template-columns: 1fr 1fr;
  }
}

/* Larger than tablet */ /* Larger than tablet */
/* Larger than tablet */ /* Larger than tablet */ /* Larger than tablet */ /* Larger than tablet */ /* Larger than tablet */ /* Larger than tablet */ /* Larger than tablet */ /* Larger than tablet */
@media (min-width: 750px) {
 
  /* .our-work h1 {
    width: 70%;
  }

  .our-work .landing div {
    width: 30%;
  }

  

  .project a {
    height: 100%;
    max-height: 450px;
  }
  .project .project-title {
    width: 30%;
  }

  .project .hero-img {
    width: 70%;
    background-position: center center;
  }

  .project .project-title h2 {
    font-size: 3rem;
    padding: 0;
    display: block;
    height: 100%;
    max-height: 450px;
  }

  .project:nth-child(even) a .project-title h2 {
    padding-left: 0.6em;
    padding-right: 0;
  } */

  .landing-project-example {
    height: calc(100vh - 80px);
    margin: 0 -12% 0;
  }
  .photos-project {
    margin: 0 auto;
  }
  .photos-project .photo {
    margin: 1em auto;
    width: 100%;
  }

  /* Facebook button */
  /* .fb-share-button {
        background:var(--primary-color);
    } */

 
}

@media (min-width: 1000px) {
  /* .our-work h1 {
    width: 80%;
  }

  .our-work .landing div {
    width: 20%;
  }

  .projects-nav {
    margin-right: -22.5%;
    margin-left: -22.5%;
    padding-left: 22.5%;
    padding-right: 22.5%;
    width: 145%;
  }

  .project {
    margin-bottom: 2em;
  }

  .project a {
    height: 100%;
    max-height: 450px;
  }
  .project .project-title {
    width: 15%;
  }
  .project .project-title h2 {
    height: 100%;
    max-height: 450px;
  }

  .project .hero-img {
    width: 85%;
  } */

  .landing-project-example {
    margin: 0 -22% 0;
    overflow: hidden;
  }
  .project .hero-img img {
    margin-top: -5em;
  }

  
}

/* Larger than Desktop HD */

@media (min-width: 1200px) {
 
  /* .project a {
    height: 100%;
  }

  .project .project-title h2 {
    height: 100%;
  } */

  
}
@media (min-width: 1500px) {
  .landing-project-example{
   height: calc(100vh - 100px);
  }
  /* .projects-nav {
    height: 50px;
  }
  .projects-nav ul {
    height: 50px;
  }
  .project {
    max-height: 800px;
  }
  .project a {
    height: 100%;
    max-height: 800px;
  }

  .project .project-title h2 {
    height: 100%;
    max-height: 800px;
    font-size: 4rem;
  } */
}

/* IMAGE CHANGE ON MOBILE AND DESKTOP */

@media (max-width: 750px) {
  .project-mobile {
    display: block;
  }
  .project-desktop {
    display: none;
  }
}

@media (min-width: 751px) {
  .project-mobile {
    display: none;
  }
  .project-desktop {
    display: block;
  }
}
