@media screen and (min-width: 1px)  {


.projects-nav{
    grid-column: 1/5;
    grid-row: 2/3;
    margin-right: -5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: -5%;
    /* background: red; */
    overflow-x: auto;
   
    
    
}
.projects-nav .inner-right {
  
    background-color: blue;

}

.projects-nav ul {
    display: flex;
    flex-direction: row;
    /* background: pink; */
    margin: 0;

}
.projects-nav ul li {
    width: auto;
    border-bottom: 1px solid var(--text-medium);
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    padding-left: 1.2em;
    text-align: center;
}
.projects-nav ul li:first-child{
    padding-left: 0em;
}

.projects-nav ul li a{
    color: var(--text-medium);
    text-align: center;
    
}
.projects-nav ul li.active {
    /* border: 2px solid var(--primary-color); */
    color: var(--primary-color);
}
.projects-nav ul li a img {
    border: 2px solid var(--primary-color);
    border-radius: 12em;
    height: 4em;
    
}

.projects-nav ul li.active a{
    color: var(--primary-color);
}

.projects-nav ul li p {
    margin: 0;
}

.project1 {
    grid-column: 1/5;
    grid-row: 3/4;
   
   
   
    
	
}
/* Hide scrollbar for Chrome, Safari and Opera */
.projects-nav::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.projects-nav {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.project1{
    display: block;
    position: relative;
}
.project a{
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start; */
}

.project-photo h2{
    /* text-orientation: upright; */
    /* transform: rotate(270deg);
    transform-origin: 0 0 ; */
    background-color: var(--secondary-color);
    color: var(--text-dark);
    position: absolute;
    bottom: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-orientation: sideways;
    margin: 0;
    padding: 0;
    height: 1.5em;
    
    white-space: nowrap;
    
}
.project-photo img {
    background:var(--primary-color);
    width: 80%;
    margin: 0 0 0 20%;
    height: 200px;

}
.project2 {
    grid-column: 1/5;
    grid-row: 4/5;
   
    text-align: right;
	
}

/*PROJECT EXAMPLE*/
.project-example {
    margin: 0 auto 0;
}


.landing-project-example {
    grid-column: 1/5;
    grid-row: 1/2 ;
    height: 90vh;
    text-align: center;
   
    background-image: cover;
    background-image:  url("../img/Web\ Resolution/hero-image.png");
    margin: 0 -5% 0;
    z-index: -10;
    background-position: 50% 50%;
    background-size: auto;
    position: relative;
    background-repeat: no-repeat;
    
}
.landing-project-example h1 {
    color: white;
    
    margin: 1em auto;
    width: 100%;
    

}

.project-example-description {
    grid-column: 1/5;
    grid-row: 2/3;
    text-align: center;
}
#more {display: none;}
.project-example-description p{
    text-align: left;
}

.project-example-description .button-small {
    display: block;
    margin: 0.2em auto 0.5em;
    padding: 0.4em 0 0 0 ;
    text-align: center;
}

.photos-project {
    /* background: #000; */
    grid-column: 1/5;
    height: auto;
    margin: 0 -5%;
    display: block;
}
.photos-project img {
    margin: 1em auto;
}

}

@media (min-width: 550px) {
    .landing-project-example {
        
        background-image: cover;
        background-image:  url("../img/Web\ Resolution/IMG_0418edit_1.jpg");
        

}
}


/* Larger than tablet */

@media (min-width: 750px) {
    


    .projects-nav ul {
        display: flex;
        flex-direction: row;
        /* background: pink; */
        margin: 0;
        justify-content: space-between;


    
    }


    
}



@media (min-width: 1000px) {
   
    
}


/* Larger than Desktop HD */

@media (min-width: 1200px) {
    
    

}